body, html {
  font-family: "Helvetica", neue;
  background-color: white;
  height: 100%;
  margin: 0px;
  padding: 0;
}

.header-background {
  background-color: #2196F3;
  width: 100%;
  // height: 400px;
  top: 0;
  display: flex;
  // justify-content: space-around;
  flex-direction: column;
  align-items: center;
  padding-bottom: 50px;
}

.center-trump {
  margin-top: 50px;
  width: 20%;
  border-radius: 50%;
  border: 6px solid white;
}

.trump-subtitle {
  color: white;
  font-size: 3em;
}

.trump-subsubtitle {
  color: white;
  font-size: 1em;
  margin-top: -20px;
}

.sign-up-button {
  margin-top: 50px !important;
  background-color: #2196F3 !important;
  color: white !important;
  font-family: "Helvetica", neue !important;
}

.sign-up-container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.input-bar{
  width: 40%;
  height: 50px;
  outline-width: 0;
  border: none;
  border-radius: 4px;
  font-size: 1.5em;
  text-align: center;
  box-shadow: 0 0 1em 0.25em rgba(0,0,0,0.05);
}

.enter-text-label {
  margin-top: 60px;
  font-size: 1.3em;
}
